nav .NavLogo {
    margin-top: -10px;
    margin-bottom: -10px;
    background-color: #ffffff;
    border-radius: 6px;
    padding: 2px;
}

.Spacer {
    margin-top: 20px;
}

.SearchArea {
    border: 2px solid #cccccc;
    border-radius: 6px;
    padding-top: 10px;
    height: 200px;
    overflow-y: scroll;
    font-size: 0.8em;
}

.StudentArea {
    border: 2px solid #cccccc;
    border-radius: 6px;
    padding-top: 10px;
    height: 300px;
    overflow-y: scroll;
    font-size: 0.8em;
}

.DestinationOptionsSelectList {
    font-size: 0.94em;
    max-width: 200px;
}

.RiskIndicator {
    width: 20px;
    height: 20px;
}

.RiskIndicator.Green {
    background-color: #4cff00;
}

.RiskIndicator.Orange {
    background-color: #ffd800;
}

.RiskIndicator.Red {
    background-color: #ff0000;
}

.RiskIndicator.Blue {
    background-color: #0000fe;
}

.AttendPercent {
    width: 80px;
    height: 20px;
    border: 1px solid #cccccc;
    position: relative;
}

.AttendPercent.Excellent .AttendBar {
    background-color: #4cff00;
    height: 17px;
}

.AttendPercent.Good .AttendBar {
    background-color: #4caf50;
    height: 17px;
}

.AttendPercent.Poor .AttendBar {
    background-color: #F39C12;
    height: 17px;
}

.AttendPercent.VeryPoor .AttendBar {
    background-color: #C0392B;
    height: 17px;
}

.AttendPercent .AttendBar {
    background-color: #C0392B;
    height: 17px;
}

.AttendPercent .AttendValue {
    position: absolute;
    width: 100%;
    text-align: center;
    font-weight: bold;
}