@page
@model WLCProgressions.Pages.SelectLists.DetailsModel

<div>
    <h4>SelectListData</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.SelectListData.Description)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.SelectListData.Description)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.SelectListData.Code">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
